doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ", crossorigin="anonymous")
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
	 
    
    style.
      * {
      width: 900px;
      margin: 0 auto;
      }
  body
    
  
    
    form( name='agregarItem' action='/tabla1', method='GET')

    
                  
            


      div(class="row g-8")
        div(class="col")
           Label(ID="Label1" runat="server"  Class="form-control") Marca 
        div( class="col")
           input.form-control(type='text', name='Marca', id='txtmarca' )
      

      div(class="row g-8")
        div(class="col")
          label(ID="Label2" runat="server"  Class="form-control") Precio 
        div(class="col")
         input.form-control(type='text', name='Precio',id='txtprecio' )
      
      div(class="row g-8")
        div(class="col")
         label(ID="Label3" runat="server"  Class="form-control") Descripción
        div(class="col")
         input.form-control(type='text', name='Descripcion', id='txtdescripcion')
      
      


      button(type='submit'  BackColor="#388e77") submit 
