doctype html 
html(lang="es")

head 
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ", crossorigin="anonymous")
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    title Tienda 
  
style. 
  body{
    background-color:#F5DEB3
  }

  h1{
    text-align:center;
    margin-top:20px;
    margin-bottom:40px
  }

body 
  h1 
    a Sport Store Ventas 
  each valor in Producto   
    div.item 
      div(class="card" style="width:400px;margin-left:330px;margin-bottom:20px;border-radius:9px")
        h6 Marca:#{valor.Marca}
        h6 Precio:#{valor.Precio}
        h6 Descripcion:#{valor.Descripcion}



